    body { 
      margin: 0; 
      font-family: Arial, sans-serif; 
      line-height: 1.5;
    }

    header, section { 
      padding: 40px 20px; 
    }

    header { 
      background-image: url("AI-Generated\ Image.png");
      background-size: cover;
      background-position: center;
      text-align: center;
      font-size: 20px;
      text-align: center; 
      padding-top: 10px;
    }

    h1, i{
      color: #eeeeee;
        text-shadow: 2px 2px 4px #000000;
    }

    button {
      margin-top: 15px;
      padding: 12px 20px;
      border: none;
      background: #e60000;
      border-radius: 25px;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }

     button:hover {
       background: #b30000;
      }
    
     button:active {
       background: #800000;
       transform: scale(0.95);
      }

    .services { 
      display: flex; 
      gap: 20px; 
    }

    .service-card { 
      background: #f5f5f5; 
      padding: 20px; 
      flex: 1; 
      text-align: center;
    }

    .gallery { 
      display: grid; 
      gap: 10px; 
      grid-template-columns: repeat(3, 1fr); 
    }

    footer { 
      text-align: center; 
      font-size: 14px;
      padding: 20px; 
      background: #eee; 
    }

    @media (max-width: 700px) {
      .services {
        flex-direction: column;
      }

      .gallery {
        grid-template-columns: repeat(2, 1fr);
      }

      header, section {
        padding: 30px 15px;
      }

      button {
        width: 100%;
      }
    }

    @media (max-width: 450px) {
      .gallery {
        grid-template-columns: 1fr;
      }
    }

    .social-icon {
      margin-left: 20px;
      font-size: 14.5px;
    }

    .logo {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      border-radius: 35%;
    }

    .ig-button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }

    .ig-button:active {
      transform: scale(0.95);
    }

    .copyright, .location, .contact {
      margin: 5px 0;
    }